<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="<%=baseURL%>/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="<%=baseURL%>/assets/images/logoIcon/logo.png">
    <title>
        <%=metaTitle%>
    </title>
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="<%=baseURL%>/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=baseURL%>/assets/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href="<%=baseURL%>/assets/css/line-awesome.min.css" rel="stylesheet">
    <!-- Styles -->
    <link href="<%=baseURL%>/assets/css/app.css" rel="stylesheet">
    <link href="<%=baseURL%>/assets/css/all.min.css" rel="stylesheet">
    <link href="<%=baseURL%>/assets/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
</head>

<body>
    <input type="hidden" name="dashboard_role_id" id="dashboard_role_id" value="<%= user.role_id %>">
    <%- include('../layouts/sidebar.ejs') %>