<div class="layout-sidebar <%- user.role_id %>">
    <!-- navbar-wrapper start -->
    <nav class="navbar-wrapper">
        <form class="navbar-search" onsubmit="return false;">
            <button type="submit" class="navbar-search__btn">
                <i class="las la-search"></i>
            </button>
            <input type="search" name="navbar-search__field" id="navbar-search__field" placeholder="Search...">
            <button type="button" class="navbar-search__close"><i class="las la-times"></i></button>

            <div id="navbar_search_result_area">
                <ul class="navbar_search_result"></ul>
            </div>
        </form>

        <div class="navbar__left">
            <button class="res-sidebar-open-btn"><i class="las la-bars"></i></button>
            <button type="button" class="fullscreen-btn">
                <i class="fullscreen-open las la-compress" onclick="openFullscreen();"></i>
                <i class="fullscreen-close las la-compress-arrows-alt" onclick="closeFullscreen();"></i>
            </button>
        </div>

        <div class="navbar__right">
            <ul class="navbar__action-list">
                <div class="btn-group">
                    <li class="mr-4 dropdown">
                        <div class="btn-group">
                            <button type="button" class="dropdown-toggle" id="notficationdropdown" data-toggle="dropdown" data-target="notifications" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </button>
                            <div class="dropdown-menu dropdown-for-notification" aria-labelledby="notficationdropdown" id="notifications">
                                <a class="dropdown-item" href="#">Loading</a>
                            </div>
                        </div>
                    </li>
                </div>

                <li class="ml-4">
                    <button type="button" class="navbar-search__btn-open">
                        <i class="las la-search"></i>
                    </button>
                </li>
                <div class="btn-group">
                    <li class="dropdown">
                        <button type="button" class="" id="dropdownMenuLink" data-toggle="dropdown" data-target="mainmenu" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-user">
                            <span class="navbar-user__thumb">
                                <% if(user.image == null || user.image == '') { %>
                                    <img src="<%=baseURL%>/assets/images/avatar.png" alt="" style="width: 200px;">
                                    <% } else { %>
                                        <img src="<%=baseURL%>/avatars/<%= user.image %>" alt="" style="width: 200px;">
                                        <% } %>
                            </span>
                            <span class="navbar-user__info">
                            <span class="navbar-user__name">
                                    <%- user.username %>
                            </span>
                            </span>
                            <span class="icon"><i class="las la-chevron-circle-down"></i></span>
                        </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu--sm p-0 border-0 box--shadow1 dropdown-menu-right" id="mainmenu" aria-labelledby="dropdownMenuLink">
                            <a href="<%=baseURL%>/profile" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-user-circle"></i>
                                <span class="dropdown-menu__caption">Profile</span>
                            </a>

                            <a href="<%=baseURL%>/" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-key"></i>
                                <span class="dropdown-menu__caption">Password</span>
                            </a>

                            <a href="<%=baseURL%>/logout" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-sign-out-alt"></i>
                                <span class="dropdown-menu__caption">Logout</span>
                            </a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <!-- navbar-wrapper end -->
    <div class="sidebar sidebar capsule--rounded bg_img overlay--indigo overlay--opacity-8" data-background="<%=baseURL%>//assets/images/2.jpg">
        <button class="res-sidebar-close-btn"><i class="las la-times"></i></button>
        <div class="sidebar__inner">
            <div class="sidebar__logo">
                <a href="<%=baseURL%>/#" class="sidebar__main-logo text-left">
                    <img src="<%=baseURL%>/assets/images/logoIcon/logo.png" alt="image">
                    <span class="text-white">Freelancer-Marketing</span>
                </a>
                <a href="<%=baseURL%>/#" class="sidebar__logo-shape">
                    <img src="<%=baseURL%>/assets/images/logoIcon/logo.png" alt="image"></a>

            </div>
            <div class="sidebar__menu-wrapper" id="sidebar__menuWrapper">
                <ul class="sidebar__menu">
                    <li class="sidebar-menu-item">
                        <a href="<%=baseURL%>/dashboard" class="nav-link ">
                            <i class="menu-icon las la-home"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="<%=baseURL%>/profile" class="nav-link ">
                            <i class="menu-icon las la-user-circle"></i>
                            <span class="menu-title">Profile</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="<%=baseURL%>/setting" class="nav-link ">
                            <i class="menu-icon las la-users-cog"></i>
                            <span class="menu-title">Setting</span>
                        </a>
                    </li>

                    <% if(user.role_id == 1) { %>
                        <!-- 1 means admin -->
                        <li class="sidebar-menu-item">
                            <a href="<%=baseURL%>/users" class="nav-link ">
                                <i class="menu-icon las la-users-cog"></i>
                                <span class="menu-title">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="<%=baseURL%>/projects" class="nav-link ">
                                <i class="menu-icon las la-users-cog"></i>
                                <span class="menu-title">Projects</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="<%=baseURL%>/roles" class="nav-link ">
                                <i class="menu-icon las la-users-cog"></i>
                                <span class="menu-title">Manage Roles</span>
                            </a>
                        </li>
                        <!-- <li class="sidebar-menu-item">
                            <a href="<%=baseURL%>/feedback" class="nav-link ">
                                <i class="menu-icon las la-users-cog"></i>
                                <span class="menu-title">Feedback</span>
                            </a>
                        </li> -->
                        <!-- <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="<%=baseURL%>/javascript:void(0)" class="">
                                <i class="menu-icon las la-globe"></i>
                                <span class="menu-title">Manage Permission</span>
                            </a>
                            <div class="sidebar-submenu" style="display: none;">
                                <ul>
                                    <li class="sidebar-menu-item active">
                                        <a href="<%=baseURL%>//roles_permission" class="nav-link ">
                                            <i class="menu-icon las la-link"></i>
                                            <span class="menu-title">Roles</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item ">
                                        <a href="<%=baseURL%>//user_permission" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
                        <% } %>
                            <% if(user.role_id == 2) { %>
                                <!-- 2 means seller / who will post the work -->

                                <li class="sidebar-menu-item">
                                    <a href="<%=baseURL%>/browsefreelancers" class="nav-link ">
                                        <i class="menu-icon las la-users-cog"></i>
                                        <span class="menu-title">Browse Freelancers</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item">
                                    <a href="<%=baseURL%>/managingproject" class="">
                                        <i class="menu-icon las la-credit-card"></i>
                                        <span class="menu-title">Managing Project</span>
                                    </a>
                                    <!-- <div class="sidebar-submenu">
                                        <ul> -->
                                    <!-- <li class="sidebar-menu-item">
                                        <a href="<%=baseURL%>/jobid" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Job IDs</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="<%=baseURL%>/currencyid" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Currency ID</span>
                                        </a>
                                    </li> -->
                                    <!-- <li class="sidebar-menu-item">
                                                <a href="<%=baseURL%>/creatingproject" class="nav-link">
                                                    <i class="menu-icon las la-dot-circle"></i>
                                                    <span class="menu-title">Creating Project</span>
                                                </a>
                                            </li> -->
                                    <!-- <li class="sidebar-menu-item">
                                                <a href="<%=baseURL%>/hiremeproject" class="nav-link">
                                                    <i class="menu-icon las la-dot-circle"></i>
                                                    <span class="menu-title">HireMe Project</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-menu-item">
                                                <a href="<%=baseURL%>/localjobproject" class="nav-link">
                                                    <i class="menu-icon las la-dot-circle"></i>
                                                    <span class="menu-title">Local Jobs Project</span>
                                                </a>
                                            </li> -->
                                    <!-- </ul>
                                    </div> -->
                                </li>
                                <li class="sidebar-menu-item">
                                    <a href="<%=baseURL%>/myjob" class="nav-link ">
                                        <i class="menu-icon las la-users-cog"></i>
                                        <span class="menu-title">My Job</span>
                                    </a>
                                </li>
                                <% if(user.is_member != 1) { %>
                                    <li class="sidebar-menu-item">
                                        <a href="<%=baseURL%>/manageteam" class="nav-link ">
                                            <i class="menu-icon las la-users-cog"></i>
                                            <span class="menu-title">Manange Team</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="<%=baseURL%>/manageoperations" class="nav-link ">
                                            <i class="menu-icon las la-users-cog"></i>
                                            <span class="menu-title">Manange Operations</span>
                                        </a>
                                    </li>
                                    <% } %>

                                        <!-- <li class="sidebar-menu-item">
                                    <a href="<%=baseURL%>/jobdetail" class="nav-link ">
                                        <i class="menu-icon las la-users-cog"></i>
                                        <span class="menu-title">Job Detail</span>
                                    </a>
                                </li> -->
                                        <li class="sidebar-menu-item" id="Messages">
                                            <a href="<%=baseURL%>/messages" class="nav-link ">
                                                <i class="menu-icon las la-user-circle"></i>
                                                <span class="menu-title">Messages</span>
                                            </a>
                                        </li>

                                        <!--  -->

                                        <% } %>

                                            <% if(user.role_id == 3) { %>
                                                <!-- 3 means worker / who will work on project -->
                                                <!-- <li class="sidebar-menu-item">
                                            <a href="<%=baseURL%>/projects" class="nav-link ">
                                                <i class="menu-icon las la-user-circle"></i>
                                                <span class="menu-title">Projects</span>
                                            </a>
                                        </li> -->
                                                <!-- <li class="sidebar-menu-item">
                                            <a href="<%=baseURL%>/myproposals" class="nav-link ">
                                                <i class="menu-icon las la-user-circle"></i>
                                                <span class="menu-title">My Proposals</span>
                                            </a>
                                        </li> -->
                                                <li class="sidebar-menu-item">
                                                    <a href="<%=baseURL%>/mybids" class="nav-link ">
                                                        <i class="menu-icon las la-user-circle"></i>
                                                        <span class="menu-title">My Proposals</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item">
                                                    <a href="<%=baseURL%>/myjob" class="nav-link ">
                                                        <i class="menu-icon las la-users-cog"></i>
                                                        <span class="menu-title">My Job</span>
                                                    </a>
                                                </li>

                                                <% if(user.is_member != 1) { %>
                                                    <li class="sidebar-menu-item">
                                                        <a href="<%=baseURL%>/manageteam" class="nav-link ">
                                                            <i class="menu-icon las la-users-cog"></i>
                                                            <span class="menu-title">Manange Team</span>
                                                        </a>
                                                    </li>
                                                    <li class="sidebar-menu-item">
                                                        <a href="<%=baseURL%>/manageoperations" class="nav-link ">
                                                            <i class="menu-icon las la-users-cog"></i>
                                                            <span class="menu-title">Manange Operations</span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <!-- <li class="sidebar-menu-item">
                                            <a href="<%=baseURL%>/mybid" class="nav-link ">
                                                <i class="menu-icon las la-user-circle"></i>
                                                <span class="menu-title">My Bids</span>
                                            </a>
                                        </li> -->
                                                        <!-- <li class="sidebar-menu-item">
                                            <a href="<%=baseURL%>/messages" class="nav-link ">
                                                <i class="menu-icon las la-user-circle"></i>
                                                <span class="menu-title">Messages</span>
                                            </a>
                                        </li> -->
                                                        <li class="sidebar-menu-item" id="Messages">
                                                            <a href="<%=baseURL%>/messages" class="nav-link ">
                                                                <i class="menu-icon las la-user-circle"></i>
                                                                <span class="menu-title">Messages</span>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <li class="sidebar-menu-item">
                                                                <a href="<%=baseURL%>/reports" class="nav-link">
                                                                    <i class="menu-icon las la-user-circle"></i>
                                                                    <span class="menu-title">Reports</span>
                                                                </a>
                                                            </li>

                                                            <ul>
            </div>
        </div>
    </div>
    <!-- sidebar end -->
</div>